.drag-area {
    height: 70%;
    border: 3px dashed #e0eafc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

#dropZoneTitle {
    margin-bottom: 20px;
    font-weight: 900;
}


.drag-area .icon {
    font-size: 50px;
    color: #1683ff;
  }
  .drag-area .header {
    font-size: 20px;
    font-weight: 500;
    color: #34495e;
  }
  .drag-area .support {
    font-size: 12px;
    color: gray;
    margin: 10px 0 15px 0;
  }
  .drag-area .button {
    font-size: 20px;
    font-weight: 500;
    color: #1683ff;
    cursor: pointer;
  }
  .drag-area.active {
    border: 2px solid #1683ff;
  }
  .drag-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .download {
    background-color:#4CAF50;
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 1px;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
  }


  #imgDisplay {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


#outputCanvas{
    width: 50%;
    height: 100%;
}