body {
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    width: 300px;
    margin-right: 50px;
}
.my-dropzone {
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
.page {
    display: flex;
}